---
layout: single
title: "Selected First/Corresponding Author Publications"
permalink: /publications/
author_profile: true
sitemap: true
---

<p>All my publications are available from <a href="https://scholar.google.com/citations?user=377WJ7IAAAAJ&hl">Google Scholar</a>.</p>

<h2>Journals</h2>
<ol>
{% assign sorted_pubs = site.publications | sort: 'publishDate' | reverse %}
{% for publication in sorted_pubs %}
    {% if publication.first_author == true or publication.corresponding_author == true %}
    <li>
        <strong>{{ publication.title }}</strong><br>
        {{ publication.authors }}<br>
        <em>{{ publication.venue }}</em>, {{ publication.year }}
        {% if publication.url %} [<a href="{{ publication.url }}" target="_blank">Paper Link</a>]{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ol>

<h2>Conferences</h2>
<ol>
{% assign sorted_pubs = site.publications | sort: 'publishDate' | reverse %}
{% for publication in sorted_pubs %}
    {% if publication.first_author != true and publication.corresponding_author != true %}
    <li>
        <strong>{{ publication.title }}</strong><br>
        {{ publication.authors }}<br>
        <em>{{ publication.venue }}</em>, {{ publication.year }}
        {% if publication.url %} [<a href="{{ publication.url }}" target="_blank">Paper Link</a>]{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ol>
