---
layout: single
title: "Selected Publications"
permalink: /publications/
author_profile: true
sitemap: true
---


{% include publication-list publications=test_publications %}

<p>All my publications are available from <a href="https://scholar.google.com/citations?user=377WJ7IAAAAJ&hl">Google Scholar</a>.</p>

<h2 id="FirstAuthor">First/Corresponding Author</h2>
{% assign first_author_publications = site.publications | where: "first_author", true %}
{% include publication-list publications=first_author_publications %}

<h2 id="OtherPublications">Others</h2>
{% assign other_publications = site.publications | where: "first_author", "!=", true %}
{% include publication-list publications=other_publications %}
