---
layout: single
title: "Selected Publications"
permalink: /publications/
author_profile: true
sitemap: true
---

<p>All my publications are available from <a href="https://scholar.google.com/citations?user=377WJ7IAAAAJ&hl">Google Scholar</a>.</p>

<h2>Publications Count: {{ site.publications | size }}</h2>

<h2>First/Corresponding Author</h2>
<ul>
{% for publication in site.publications %}
    {% if publication.first_author == true %}
    <li>
        <strong>{{ publication.title }}</strong><br>
        {{ publication.authors }}<br>
        <em>{{ publication.venue }}</em>, {{ publication.year }}
        {% if publication.url %} [<a href="{{ publication.url }}" target="_blank">Paper Link</a>]{% endif %}
        {% if publication.venue_short %} <span style="color: #e74c3c; font-weight: bold;">({{ publication.venue_short }})</span>{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>

<h2>Other Publications</h2>
<ul>
{% for publication in site.publications %}
    {% if publication.first_author != true %}
    <li>
        <strong>{{ publication.title }}</strong><br>
        {{ publication.authors }}<br>
        <em>{{ publication.venue }}</em>, {{ publication.year }}
        {% if publication.url %} [<a href="{{ publication.url }}" target="_blank">Paper Link</a>]{% endif %}
        {% if publication.venue_short %} <span style="color: #e74c3c; font-weight: bold;">({{ publication.venue_short }})</span>{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
