# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en-GB"
title                    : "Guhan Zheng"
title_separator          : "-"
name                     : &name "Guhan Zheng"
description              : &description "Associate Professor at Shanghai University"
future                   : true

date_format              : "%d %B %Y"
atom_feed:
  path                   : # blank (default) uses feed.xml
  hide                   : true


# Site Author
author:
  name             : "Guhan Zheng"
  avatar           : "/images/2寸照.jpg"
  bio              : "Associate Professor, Master Supervisor"
  
  employer         : "Shanghai University"
  employer_url     : "https://en.shu.edu.cn/"
  email            : gzheng@shu.edu.cn
  links: &author_links
    - label: "LinkedIn"
      icon: "fab fa-fw si-linkedin"
      url: "https://www.linkedin.com/in/guhan-zheng-69139a184/"
    - label: "Google Scholar"
      icon: "ai fa-fw si-google-scholar"
      url: "https://scholar.google.co.uk/citations?user=377WJ7IAAAAJ&hl"
    - label: "ORCID"
      icon: "ai fa-fw si-orcid"
      url: "https://orcid.org/0000-0001-5602-1108"

#footer:
#  links: *author_links

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - "assets/js/_*.js"
  - assets/js/plugins
  - assets/js/vendor
  - config.yml
  - _config.dev.yml
  - local.sh
  - sri-sum.sh
  - uglifyjs.sh
  - fonts/
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "<!-- readmore -->"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  syntax_highlighter: rouge
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo


# Collections
collections:
  publications:
    output: true
    sort_by: publishDate
    permalink: /:collection/:path/
  publications_hidden:
    output: false
  projects:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    sort_by: publishDate
    permalink: /:collection/:path/
  blog:
    output: true
    sort_by: publishDate
    permalink: /:collection/:path/
  blog_hidden:
    output: false


# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _projects
  - scope:
      path: ""
      type: projects
    values:
      layout: single-project
      author_profile: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single-publication
      author_profile: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
  # _blog
  - scope:
      path: ""
      type: blog
    values:
      layout: single
      author_profile: true

# Sass/SCSS
# http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style
sass:
  sass_dir: _sass
  style: compressed


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
# http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
timezone: Europe/London


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
