<div id="grant" style="position: relative; top: -80px; visibility: hidden; height: 0;"></div>
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h5 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}
            {{ include.title }}
        {% else %}
            Research Grants
        {% endif %}
    </h5>

    <div class="p-3">
        <ul class="mb-0 pl-3">
            {% for item in grant %}
                <li class="mb-2">
                    <div><strong>{{ item.title }}</strong></div>
                    <div class="text-muted small">{{ item.sponsor }}, {{ item.period }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
