{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}
            {{ include.title }}
        {% else %}
            Selected Publications
        {% endif %}
    </h6>

    {% for item in publications limit:include.limit %}
        <div class="row no-gutters border-bottom border-gray py-2 px-3 align-items-center">
            <div class="col-9">
                <h6 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h6>
                <p class="mb-0 small">
                    {{ item.authors | markdownify | replace: '<p>', '' | replace: '</p>', '' }} — {{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}
                </p>
            </div>
            <div class="col-3 text-right small">
                {% for link in item.links %}
                    {% if link[1].url %}
                        <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                    {% else %}
                        <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


  
  <h6 class="d-block p-0 mt-0 text-right">
    Full publications, please see 
    <a href="https://scholar.google.co.uk/citations?user=377WJ7IAAAAJ&hl=en&oi=ao" target="_blank">
      Google Scholar
    </a>
    or
    <a href="https://www.defineabc.com/citations?user=377WJ7IAAAAJ&hl=en&oi=ao" target="_blank">
      谷歌学术镜像
    </a>
  </h6>
</div>
