{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> Selected Recent Publications{% endif %} 
        <a href="{{ 'publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>

    {% for item in publications limit:include.limit %}
        <!-- Publication item start -->
        <div class="row no-gutters border-bottom border-gray py-2 px-3">
            <div class="col-12">
                <h5 class="mt-0 mb-1 font-weight-normal">{{ item.title }}</h5>
                <p class="mb-1 small">
                    <strong>{{ item.authors }}</strong> — {{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}
                </p>
                <p class="small mb-0 text-muted abstract-links">
                    {% for link in item.links %}
                        {% if link[1].url %}
                            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
                        {% else %}
                            <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <!-- Publication item end -->
    {% endfor %}

  
  <h6 class="d-block p-0 mt-0 text-right">
    Full publications, please see 
    <a href="https://scholar.google.co.uk/citations?user=377WJ7IAAAAJ&hl=en&oi=ao" target="_blank">
      Google Scholar
    </a>
    or
    <a href="https://www.defineabc.com/citations?user=377WJ7IAAAAJ&hl=en&oi=ao" target="_blank">
      谷歌学术镜像
    </a>
  </h6>
</div>
